/* center all text*/
*{
  text-align:center;
  margin:0;
  padding:0;
}

/*header style*/

h1 {
  font-size:50px;
}

/* wrapper for header*/
.wrapper {
  background-color:rgb(170, 156, 156);
  color:antiquewhite;
  font-family: "comic sans ms", Courier New;
}

/*background color for upper half */
.intro {
  background-color:antiquewhite;
  font-family: 'Montserrat', sans-serif;
}

/*round out profile picture*/
.selfpic {
  width:400px;
  height:400px;
  border-radius: 50%;
}

/* make bullets for lists next to text*/
ul {
  list-style-position: inside;

}

/* alternate colors for backgrounds*/
.contact {
  background-color:rgb(170,156,156);
  font-family:'Times New Roman', Times, serif;
}

.bottom {
  background-color:antiquewhite;
}

.footer {
  background-color:antiquewhite;
}

/*trim out map to be a circle*/
.map {
  border-radius:50%;
}

/*style rulers make dotted*/
hr {
  background-color:antiquewhite;
  border-top:4px black dotted;
}

/*add colors to links*/


a:link {
  color:rgb(185, 228, 214);
}
a:visited{
  color:rgb(149, 223, 198);
}
a:hover{
  color:white;
}
a:active{
  color:rgb(223, 46, 46);
}

a {
  color:rgb(166, 206, 166);
  font-family:impact;
  letter-spacing:1px;
}

/* ADD FLEXBOX STYLE TO IMAGES FOR INTERESTS AND PROJECTS */
.item {
  flex: 1;
}

.group {
  display:flex;
  flex-direction: row;
}

.group2 {
  display:flex;
  flex-direction: row;
}

section {
  background-color: rgb(170, 156, 156)
}

h3 {
  text-align:center;
}

.background {
  background-color:rgb(170, 156, 156)
}

/* ADD MEDIA QUEREIES . MAKE INTERESTS IMAGES CIRCULAR WHEN OPEN ON A DESKTOP */
@media all and (min-width:800px) {
  .group img {
    width:400px;
    height:400px;
    border-radius: 50%;
}
}